.App {
  text-align: center;
}

.button-primary {
  padding: 8px 13px;
  background-color: lightblue;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
}

.button-secondary:hover {
  padding: 8px 13px;
  background-color: grey;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  border: 1px solid black;
}
 

.button-primary:hover {
  padding: 8px 13px;
  background-color: lightblue;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  border: 1px solid black;
}

.button-warning:hover {
  padding: 8px 13px;
  background-color: lightcoral;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  border: 1px solid black;
}


.container {
  width: 80%;
  margin: auto;
}

.contains {
  height: 100vh;
}

.button-warning {
  padding: 8px 13px;
  background-color: lightyellow;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  margin: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.button-danger:hover {
  padding: 8px 13px;
  background-color: lightcoral;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  border: 1px solid black;
}

.button-secondary {
  padding: 8px 13px;
  background-color: grey;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.button-danger {
  padding: 8px 13px;
  background-color: lightcoral;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.navbar {
  background: grey;
  height: 50px;
}

.navbar-brand {
  text-decoration: none;
  font-size: 22px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
